<?xml version="1.0"?>
<model>
    <name>silver2</name>
    <version>1.0</version>
    <sdf version="1.11">model.sdf</sdf>

    <author>
        <name>Jorge Aguirregomezcorta Aina</name>
        <email>jaguirregomezcorta@icm.csic.es</email>
    </author>

    <description>
        Underwater Legged Robot - SILVER2
    </description>
</model>