<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo>
    <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>$(find silver)/config/silver_controllers.yaml</parameters>
    </plugin>
    <!-- Hydrodynamics plugin
    <plugin
      filename="gz-sim-hydrodynamics-system"
      name="gz::sim::systems::Hydrodynamics">
      <link_name>base_link</link_name>
      <!
      <xDotU>-0.04876161</xDotU>
      <yDotV>-1.26324739</yDotV>
      <zDotW>-1.26324739</zDotW>
      <kDotP>0</kDotP>
      <mDotQ>-0.3346</mDotQ>
      <nDotR>-0.3346</nDotR>
      
      
        Note about added mass: SDFormat also supports added mass natively. 
        Until we deprecate the added mass parameters of this plugin, do not set the added mass parameters in both places, 
        choose one (either in this plugin or under <inertial> of your link). 
      
      <xUabsU>73.8</xUabsU>
      <xU>0</xU>
      <yVabsV>84.9</yVabsV>
      <yV>0</yV>
      <zWabsW>882.7</zWabsW>
      <zW>0</zW>
      <kPabsP>-40.0</kPabsP>
      <kP>0</kP>
      <mQabsQ>-60.0</mQabsQ>
      <mQ>0</mQ>
      <nRabsR>-50.0</nRabsR>
      <nR>0</nR>
    </plugin>-->
  </gazebo>
</robot>