<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo>
    <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>$(find silver)/config/silver_controllers.yaml</parameters>
    </plugin>
     <!-- Hydrodynamics plugin -->
    <plugin
      filename="gz-sim-hydrodynamics-system"
      name="gz::sim::systems::Hydrodynamics">
      <!-- Link this plugin is attached to -->
      <link_name>base_link</link_name>

      <!-- Linear Damping Coefficients -->
      <xU>0</xU>
      <yV>0</yV>
      <zW>0</zW>
      
      <!-- Quadratic Damping Coefficients (Halved to not crash the sim)-->
      <xUabsU>35.0</xUabsU> <!-- 73.8 -->
      <yVabsV>42.0</yVabsV> <!-- 84.9 -->
      <zWabsW>440.0</zWabsW> <!-- 882.7 -->

      <!-- Rotational Damping Coefficients -->
      <kP>0</kP>
      <mQ>0</mQ>
      <nR>0</nR>
      <kPabsP>40.0</kPabsP>
      <mQabsQ>60.0</mQabsQ>
      <nRabsR>50.0</nRabsR>
    </plugin>
  </gazebo>
</robot>